<template>
    <div class="jumbotron" v-if="user">
        <h1 class="display-3">Hello, {{user.name}}</h1>
        <p v-if="user.heros.length" class="lead">
            <span>Select your heros.</span>
            <router-link to="/hero/create">create</router-link>
            <a href="" @click.prevent="deleteMode=!deleteMode">{{deleteMode?'cancel':'delete'}}</a>
        </p>
        <hr class="my-4">
        <div class="">
            <div class="card mb-2" v-for="hero in heros" style="cursor: pointer" @click.prevent="selectHero(hero._id)">
                <div class="card-block">
                    <h4 class="card-title">{{hero.name}}</h4>
                    <p class="card-text">{{hero.job.name}} lv.{{hero.baseProps.lv}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">offline for {{((new Date()-new Date(hero.lastActionDate))/1000/3600).toFixed(0)}} hrs {{((new Date()-new Date(hero.lastActionDate))/1000/60%60).toFixed(0)}} mins</small>
                </div>
                <div class="card-footer" v-if="deleteMode">
                    <a href="" class="btn btn-danger" @click.prevent.stop="deleteHero(hero._id)">delete</a>
                </div>
                <div class="card-footer" v-if="!deleteMode">
                    <a href="#" class="btn btn-primary" @click.prevent="">Select</a>
                </div>
            </div>
        </div>
        <p class="lead"></p>
    </div>
</template>
<script src="./detail.js"></script>