<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="import" href="./common/common.html">
    <link rel="import" href="./comps/comps.html">

    <title>Document</title>
</head>

<body>
    <div class="app">
        <idle-header></idle-header>
        <idle-warning :msg="msg"></idle-warning>
        <idle-nav></idle-nav>
        <div class="container">
            <div class="list-group d-inline-block align-top">
                <a class="list-group-item list-group-item-info active">jobs learned</a>
                <a href="" @click.prevent="changeJob(job)" :class="{active:hero.job.name==job.name}" class="list-group-item list-group-item-action" v-for="job in hero.learnedJobs">{{job.name}}</a>
            </div>
            <div class="list-group d-inline-block align-top">
                <a class="list-group-item  list-group-item-info active">jobs can learn</a>
                <a href="" @click.prevent="learnJob(job)" class="list-group-item list-group-item-action" v-for="job in hero.canLearnJobs">{{job.name}}</a>
            </div>
        </div>
    </div>
    <script src="./job.js"></script>
</body>

</html>