<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Login</title>
    <link rel="import" href="./common/common.html">
    <link rel="import" href="./comps/comps.html">

</head>

<body>
    <div class="app">
        <common-header></common-header>
        <warning :msg="msg"></warning>
        <div class="container">
            <h2 class="display-4">Login</h2>
            <form action="">
                <div class="form-group">
                    <input type="text" v-model="name" class="form-control" placeholder="username">
                </div>
                <div class="form-group">
                    <input type="text" v-model="pw" class="form-control" placeholder="pw">
                </div>
                <button class="btn btn-primary" @click.prevent="login">submit</button>
            </form>
        </div>
    </div>

    <script src="./login.js"></script>
</body>

</html>