<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="import" href="./common/common.html">
    <link rel="import" href="./comps/comps.html">

    <title>Document</title>
</head>

<body>
    <div class="app">
        <idle-header></idle-header>
        <idle-warning :msg="msg"></idle-warning>
        <idle-nav></idle-nav>
        <div class="container">
            <div class="list-group">
                <a href="" class="list-group-item d-block" :class="{active:hero.map && hero.map.name==map.name}" v-for="map in maps" @click.prevent="changeMap(map)">
                    <p>{{map.name}}</p>
                    <small v-if="map.pre" v-for="(value,key) in map.pre.baseProps">
                        <span>最小{{{lv:'等级'}[key]||key}}:{{value}}</span>
                    </small>
                </a>
            </div>
        </div>
    </div>
    <script src="./map.js"></script>
</body>

</html>