<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test:api</title>
    <link rel="import" href="../common/common.html">
</head>

<body>
    <div class="container">
        <div class="" v-for="(u,key,index) in Api" style="overflow: hidden;" >
            <h1>{{key}}</h1><br>
            <div class="card" v-for="(fun,key,index) in u" style="margin-bottom:20px;width:33%;float:left;">
                <h4 class="card-title">{{key}}</h4>
                <input class="form-text" type="text" v-for="p in fun.args2" :placeholder="p.name" v-model="p.value">
                <pre>{{fun.result}}</pre>
                <button class="btn btn-primary" v-on:click="action(fun)">action</button>
            </div>
        </div>

    </div>
    <script>
        var vm = new Vue({
            el: '.container',
            data: {
                Api: Object.assign({}, Api)
            },
            mounted() {
                for (let i in this.Api) {
                    if (!/user|hero/.test(i)) {
                        Vue.delete(this.Api, i);
                        continue;
                    }
                    for (let j in this.Api[i]) {
                        var func = this.Api[i][j];
                        var args = func.toString()
                            .match(/\(([^)]*)\)/)[1]
                            .split(',')
                            .map(function (arg) {
                                return arg.replace(/\/\*.*\*\//, "").trim();
                            }).filter(function (arg) {
                                return arg;
                            });
                        var args2 = [];
                        for (var a in args) {
                            args2.push({ name: args[a], value: "" })
                        }
                        this.Api[i][j] = { func, name: j, args, args2 ,result:""}
                    }
                }

            },
            methods: {
                async action(func) {
                     func.result="";
                    var values = [];
                    for (let i in func.args2) {
                        values.push(func.args2[i].value);
                    }
                    var result = await func.func.apply(Api,values )
                    func.result = JSON.stringify(result,null,2)
                }
            }
        })
    </script>
</body>

</html>