<template>
    <div class="jumbotron" style="min-height:90vh">
        <div class="btn-toolbar mb-3">
            <div class="lead">
                <a href="" class="btn btn-primary" :class="{'btn-danger':isAutoFight}" @click.prevent="toggleAutoFight">{{isAutoFight?'stop':'fight'}}</a>
                <router-link class="btn " to="map">{{attacker.map && attacker.map.name}}</router-link>
            </div>
        </div>
        <div class="card-group d-flex">
            <div class="card  w-50">
                <div class="card-block">
                    <h4 class="card-title">{{attacker.name}}</h4>
                    <p class="card-text">{{attacker.job && attacker.job.name}} {{attacker.baseProps && 'lv.'+attacker.baseProps.lv}}</p>
                    <div v-if="attacker.battleProps">
                        <div class="progress mb-2">
                            <div class="progress-bar bg-success text-muted" style="transition:width linear 0.1s;" :style="{width:attacker.battleProps.hp>0?(attacker.battleProps.hp/attacker.battleProps.maxhp*100+'%'):0}">hp:{{attacker.battleProps.hp}}/{{attacker.battleProps.maxhp}}</div>
                        </div>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-info text-muted" style="transition:width linear 0.1s;" :style="{width:attacker.battleProps.mp>0?(attacker.battleProps.mp/attacker.battleProps.maxmp*100+'%'):0}">mp:{{attacker.battleProps.mp}}/{{attacker.battleProps.maxmp}}</div>
                        </div>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-warning text-muted" style="transition:width linear 0.1s;" :style="{width:attacker.baseProps.exp/attacker.baseProps.maxexp*100+'%'}">exp:{{attacker.baseProps.exp}}/{{attacker.baseProps.maxexp}}</div>
                        </div>
                        <div>
                            <span class="badge badge-info" v-for="buff in attacker.buffs">{{buff.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-50">
                <div class="card-block">
                    <small v-if="!defender.name">...</small>
                    <h4 class="card-title">{{defender.name}}</h4>
                    <p class="card-text">{{defender.job && defender.job.name}} {{defender.baseProps && 'lv.'+defender.baseProps.lv}} {{defender.map
                        && defender.map.name}}</p>
                    <div v-if="defender.battleProps">
                        <div class="progress mb-2">
                            <div class="progress-bar bg-success text-muted" style="transition:width linear 0.1s;" :style="{width:defender.battleProps.hp>0?(defender.battleProps.hp/defender.battleProps.maxhp*100+'%'):0}">hp:{{defender.battleProps.hp}}/{{defender.battleProps.maxhp}}</div>
                        </div>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-info text-muted" style="transition:width linear 0.1s;" :style="{width:defender.battleProps.mp>0?(defender.battleProps.mp/defender.battleProps.maxmp*100+'%'):0}">mp:{{defender.battleProps.mp}}/{{defender.battleProps.maxmp}}</div>
                        </div>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-warning text-muted" style="transition:width linear 0.1s;" :style="{width:defender.baseProps.exp/defender.baseProps.maxexp*100+'%'}">exp:{{defender.baseProps.exp}}/{{defender.baseProps.maxexp}}</div>
                        </div>
                        <div style="height: 25px">
                            <span class="badge badge-info" v-for="buff in defender.buffs">{{buff.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <ul class="list-group mt-2">
            <li class="list-group-item fadeIn" :style="{'animation-duration':'0.2s'}" v-if="countDownSecond>=0">
                <span>休息中 请等待{{countDownSecond}}秒</span>
            </li>
            <li class="list-group-item fadeIn" v-if="resultInfo" :style="{'animation-duration':'0.1s'}">
                <span><b  class="text-primary">{{resultInfo.winner}}</b> 击败了<b  class="text-mute">{{resultInfo.loser}} </b></span>
                <span v-if="resultInfo.dropExp">获得{{resultInfo.dropExp}}点经验</span>
                <span v-if="resultInfo.dropEquits.length||resultInfo.dropItems.length">
                        掉落了
                        <b v-for="dropEquit in resultInfo.dropEquits" class="text-primary">{{dropEquit.name}} lv.{{dropEquit.lv}}</b>
                        <b v-for="dropItem in resultInfo.dropItems" class="text-info">{{dropItem.name}} x {{dropItem.count}}</b>
                    </span>
            </li>
            <li class="list-group-item fadeIn" :style="{'animation-duration':(roundInfo.aniDelay/1000)+'s'}" v-for="roundInfo in roundInfos">
                <div v-if="roundInfo.isBuff==false">
                    <b class="text-primary">{{roundInfo.attacker.name}}</b>
                    <span>使用 <b class="text-danger">{{roundInfo.skillName}} lv.{{roundInfo.skillLv}}</b></span>
                    <div v-if="c.hasValue" v-for="(c,index) in [roundInfo.d,roundInfo.a]">
                        <span v-if="index==0">令<b class="text-mute">{{roundInfo.defender.name}}</b></span>
                        <span v-if="index==1">令<b class="text-mute">自己</b></span>
                        <span v-if="c.maxhp<0">最大生命值下降</span>
                        <span v-if="c.maxhp>0">最大生命值上升</span>
                        <span v-if="c.maxmp<0">最大魔法值下降</span>
                        <span v-if="c.maxmp>0">最大魔法值上升</span>
                        <span v-if="c.hp<0">造成{{-c.hp}}点伤害</span>
                        <span v-if="c.hp>0">恢复{{c.hp}}点生命</span>
                    </div>
                </div>
                <div v-if="roundInfo.isBuff==true">
                    buff roundInfo
                </div>
            </li>

        </ul>
    </div>
</template>
<script src="./battle.js"></script>