<template>
    <div class="container">
        <p>todo : 同一类装备只能装备一个</p>
        <div class="d-inline-block">
            <div class="list-group">
                <a href="" class="list-group-item list-group-item-info active">equited</a>
                <a href="" @click.prevent="removeEquit(equit)" v-if="equit" v-for="equit in hero.equits" class="list-group-item ">{{equit.name}}</a>
            </div>
        </div>
        <div class="d-inline-block">
            <div class="list-group">
                <a href="" class="list-group-item list-group-item-info active">can equited</a>
                <a href="" @click.prevent="addEquit(equit)" v-if="equit" v-for="equit in hero.bagEquits" class="list-group-item">{{equit.name}}</a>
            </div>
        </div>
    </div>
</template>
<script src="./equit.js"></script>