<template>
    <div class="container">
        <p>skillPoints:{{hero.skillPoints}}</p>
        <div class="list-group d-inline-block align-top">
            <a class="list-group-item list-group-item-info active">skills learned</a>
            <a href="" @click.prevent="" class="list-group-item list-group-item-action" v-for="skill in hero.learnedSkills">{{skill.name}} lv.{{skill.lv}}</a>
        </div>
        <div class="list-group d-inline-block align-top">
            <a class="list-group-item  list-group-item-info active">skills can learn</a>
            <a href="" @click.prevent="learnSkill(skill)" class="list-group-item list-group-item-action" v-for="skill in hero.canLearnSkills">{{skill.name}} lv.{{skill.lv}} cost.{{skill.cost||0}}</a>
        </div>
    </div>
</template>
<script src="./skill.js"></script>